body{
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 0px 50px;
}

nav{
    background-color:#000030;
    border-radius: 10px 10px 10px 10px;
    color: white;
    box-shadow: 10px 10px 10px rgb(149, 148, 148);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}